In [1]:
print ("Hello Wolrd!!")

Hello Wolrd!!

In [2]:
print("LEARNING PYTHON IS FUN!")

LEARNING PYTHON IS FUN!

In [7]:
#Values:
student_name = "Omar TAKY" 
age = 20 
size = 185.7  
Student_status = True  

#Printing the values of the variables:
print("Student Name:", student_name)
print("age:", age)
print("size:", size)
print("It's a:", Student_status)

Student Name: Omar TAKY
age: 20
size: 185.7
It's a: True

In [8]:
num1 = 40
num2 = 90

#Addition
addition_result = num1 + num2

#Subtraction
subtraction_result = num1 - num2

#Multiplication
multiplication_result = num1 * num2

#Division
division_result = num1 / num2

print("Addition:", addition_result)
print("Subtraction:", subtraction_result)
print("Multiplication:", multiplication_result)
print("Division:", division_result)

Addition: 130
Subtraction: -50
Multiplication: 3600
Division: 0.4444444444444444

In [9]:
string1 = "Omar"
string2 = "Taky"

result = string1 + " " + string2

print("My name is: " + result)

My name is: Omar Taky

In [11]:
original_string = "LEARNING PYTHON"

# uppercase
uppercase_string = original_string.upper()

# lowercase
lowercase_string = original_string.lower()

# New string
replace_string = "I LOVE PYTHON"

# Replace "PYTHON" with "PROGRAMMING" 
new_string = replace_string.replace("PYTHON", "PROGRAMMING")

print("Uppercase:", uppercase_string)
print("Lowercase:", lowercase_string)
print("After replacement:", new_string)

Uppercase: LEARNING PYTHON
Lowercase: learning python
After replacement: I LOVE PROGRAMMING

In [13]:
integer_number = int("789")

float_number = float("123.45")

print("Integer:", integer_number)
print("Float:", float_number)

Integer: 789
Float: 123.45

In [15]:
user_input = input("Enter a number: ")

try:
    float_number = float(user_input)
    print("Float number:", float_number)
except ValueError:
    print("Invalid input. Please enter a valid number.")

Enter a number:  20

Float number: 20.0

In [15]:
user_input = input("Enter a number: ")

try:
    float_number = float(user_input)
    print("Float number:", float_number)
except ValueError:
    print("Invalid input. Please enter a valid number.")

Enter a number:  20

Float number: 20.0